body {
  font-family: "Times New Roman", Times, serif;
}
#left {
  width: 20%;
  margin-top: 10vw;
  margin-left: 2vw;
}
.right {
  margin-top: 10vw;
}
.checked {
  color: orange;
}
.card {
  padding: 10px;
  margin-bottom: 30px;

  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card img {
  width: auto;
  height: 300px;
}

.card img:hover {
  transform: scale(1.1);
  height: 300px;
}

body{
  
  background-image: url('/images/wallpaper-fade.png');
  background-repeat : inherit; 
  background-size: 30%;

}
