.cartBox {
  width: 55%;
  margin: 5%;
  padding-top: 2%;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 1%;
  background-color: #f0f0f0;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.cartItem {
  width: 100%;
  background-color: #e9d9d9;
  padding: 2%;
  margin-bottom: 3%;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.cartImg {
  width: 100%;
  margin: 1%;
}

.cartTxt {
  font-size: 20px;
  line-height: 15px;
}
.cartDropdown {
  margin-top: 13%;
  color:#e9d9d9;
}

.billbox{
margin:5%;
padding-top: 2%;
padding-left: 2%;
padding-right: 2%;
padding-bottom: 1%;
background-color: #f0f0f0;
border-radius: 10px;
box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.bill {
  width: 100%;
  background-color: #e9d9d9;
  padding: 2%;
  margin-bottom: 3%;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
