.navbar{
    background-color: #efd2cb;
    color:#99634e;
}


#navbar_2{
    background-color: #99634e;
    height: 70px;
}

.navbar-toggler{
    border-color:#99634e;
}

.navbar-toggler-icon{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(153,99,78,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");

}

.dropdown-toggle{
    color:#99634e;
    font-size: large;
    margin-right: 50px;
}

#titles{
    background-color: #99634e;
    width: 100%;
}

.dropdown-menu{
    background-color: #99634e;
}

#drop-title{
    color:#bd9889;
}

.dropdown-item{
    color:#efd2cb ;
}

.carousel{
    background-color: #efd2cb;
}

.carousel-item{
    height: 250px;
}

.carousel-item img{
    position:fixed;
    top: 0;
    left: 0;
}

.container{
    padding: 10px 10px 10px 10px;
}

.card{
    padding : 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
}

.fa{
    height: 50px;
    margin: 0px 10px 0px 10px;
}

.h1{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

body{
    background-image: url("./images/wallpaper-fade.jpg");
    background-repeat: inherit;
    
}