.bg{
    background:url(cloth2.jpg) no-repeat;
    width: 100%;
    height: 100vh;
    background-size: 99%;
}
.form-container{
    position:absolute;
    top: 15vh;
    background-color: rgb(203, 203, 221);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 10px black;
}
#btnGroupDrop1{
    border: 3px solid rgb(21, 43, 236);
}
@media only screen and (max-width:678px){
    .bg{
        background-size:300% ;
    }
}
#a1{
    background-color: rgb(219, 49, 49);
    color: aliceblue;
}
#a2{
    background-color: blue;
    color: aliceblue;
}
.a{
    padding:4px
}
.a{
    color:blue;
    text-decoration: none;
}
.a:hover{
    color: black;
}
.c1:hover{
    background-color: greenyellow;
}

footer {
    background-color: #efd2cbe1;
    height: 200px;
    margin-bottom: 0;
    padding-left: 30px;
    padding-top: 50px;
    color: rgb(34, 30, 30);
    }