.bg{
  background:url(carousel2.jpg) no-repeat;
  width: 100%;
  height: 100vh;
  background-size: 100%;
}
.form-container{
  position:absolute;
  top: 15vh;
  background-color: rgb(203, 203, 221);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 10px black;
}
#btnGroupDrop1:hover{
  background-color:rgb(29, 235, 11);
}
@media only screen and (max-width:678px){
  .bg{
      background-size:300% ;
  }
}
.a{
  padding:4px
}
.a2{
  background-color: blue;
  color: aliceblue;
}
.a1{
  background-color: rgb(219, 49, 49);
  color: aliceblue;
}
.a{
  color:blue;
  text-decoration: none;
}
.a:hover{
  color: black;
}
.c1:hover{
  background-color: greenyellow;
}